// 1. DEFINE YOUR CUSTOM COLORS/VARIABLES
$primary: #205154;
$secondary: #222222;
$ternary: #ffdb49;
$success: #1e8449;
$info: #49c3e9;
$warning: #ff9d49;
$danger: #d0362d; //  #ff4136;
$light: #eaeff2;
// $dark: $gray-900;

$spacer: 1.25rem; // Optional: Adjusting default spacing scale

// 2. Import the main Bootstrap Sass file
@import "bootstrap/scss/bootstrap";

// 3. Your custom SCSS styles go below this import

body[data-menu-color="dark"] .app-sidebar-menu {
    background-color: var(--bs-dark);
    box-shadow: none;
}
.app-sidebar-menu {
    width: 260px;
    background: var(--bs-light);
    bottom: 0;
    padding-top: 70px;
    position: fixed;
    transition: all 0.1s ease-out;
    top: 0;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.04);

    .logo-box {
        height: 70px;
        width: 260px;
        position: fixed;
        padding: 0 20px;
        top: 0;
        transition: all 0.1s ease-out;

        .logo {
            // line-height: 70px;
            span.logo-sm {
                display: none;
            }
            span.logo-lg {
                display: block;
            }
        }

        .logo-light {
            display: none;
        }
    }
}
