// 1. Import Bootstrap variable overrides
@import "variables";

// 2. Import the main Bootstrap Sass file
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.form-label {
    font-weight: bold;
}

// HTMX Loading States & Animations
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    display: inline-block;
}

.htmx-swapping {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.htmx-settling {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

tr.htmx-swapping {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 500ms ease-out;
}

// 3. Your custom SCSS styles go below this import
html {
    position: relative;
    min-height: 100%;
}

body[data-menu-color="dark"] #sidebarWrapper {
    background-color: var(--bs-dark);
    box-shadow: none;
}

#wrapper {
    overflow-x: hidden;
}

#sidebarWrapper {
    min-height: 100vh;
    margin-left: -15rem; /* This hides it initially on smaller screens */
    width: 15rem; /* Set your desired sidebar width */
    color: white; /* Text color for the menu */
    position: fixed; /* Make the sidebar fixed */
    transition: margin 0.25s ease-out;
    z-index: 1000; /* Ensure it's above other elements */

    .nav-second-level li a {
        padding: 8px 20px;
        transition: all 0.4s;
    }
}

#contentWrapper {
    width: 100%;
    transition: margin 0.25s ease-out;
}

@media (min-width: 992px) {
    #sidebarWrapper {
        margin-left: 0;
    }
    #contentWrapper {
        margin-left: 15rem;
        width: calc(100% - 15rem); /* Adjust width to account for sidebar */
    }
    .main-content {
        padding-left: 1.5rem;
    }
}
@media print {
    .topbar-custom {
        display: none !important;
    }
}
