@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Fonts */
:root {
    --default-font: "Roboto Flex", sans-serif;
}

/* Global Colors */
:root {
    --background-color: #ffffff;
    --default-color: #000;
    --heading-color: #2a2a2a;
    --accent-color: #3a4e55;
    --second-color: #30717f;
    --white-color: #ffffff;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
    font-family: var(--default-font);
    overflow-x: hidden;
}

a {
    color: var(--accent-color) !important;
    text-decoration: none !important;
    transition: 0.3s;
}

a:hover {
    color: #000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--default-font);
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.btn10 {
    background-color: var(--second-color);
    padding: 13px 30px;
    display: inline-block;
    color: #fff !important;
    border-radius: 10px;
    font-size: 15px;
}

.btn10:hover {
    background-color: #000;
    color: #fff;
}

.sec-space {
    margin: 70px 0;
}

.sec-001 p {
    color: #fff;
}

.sec-001 a {
    color: #fff !important;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
    background-color: transparent;
    z-index: 10;
    position: sticky;
}

#view-page-logo1 img {
    width: 80px !important;
}

.navbar-brand .logo {
    width: 75px !important;
}

.header .nav-item .nav-link {
    color: #fff !important;
}

.header .btn10 {
    background-color: var(--accent-color);
    padding: 13px 30px;
    display: inline-block;
    color: #fff !important;
    border-radius: 10px;
}

.header .btn10:hover {
    background-color: #fff;
    color: #000 !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    background-image:
        /* top layer: 50%-black overlay */
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        /* bottom layer: your JPG */ url("../images/about/homepage-banner.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -105px;
}

.hero h1 {
    color: var(--white-color);
    font-size: 55px;
    line-height: 60px;
}

.hero p {
    color: var(--white-color);
}

.social-link a {
    display: flex;
    color: #fff !important;
    padding-top: 30px;
}

.social-link {
    position: absolute;
    left: 4rem;
    top: 15rem;
    flex-direction: column;
}

.img-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*--------------------------------------------------------------
# form Section
--------------------------------------------------------------*/
.nav-tabs {
    border-color: transparent !important;
}

.nav-tabs .nav-link.active {
    background-color: #3a4e55 !important;
    color: #fff !important;
}

.nav-tabs .nav-link {
    color: #000;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    margin-right: 11px;
    padding: 10px 35px;
}

.sec-2 .container {
    width: 80%;
}

.sec-2 {
    z-index: 5;
    margin-top: -7rem;
    position: relative;
}

.form10 {
    display: flex;
    align-items: center;
    gap: 3px;
}

.tab-content {
    margin-top: 15px;
}

.f1 {
    width: 25%;
}

.f2 {
    width: 70%;
}

.icon-send {
    background-color: transparent;
    border-color: transparent;
    color: #000;
    font-size: 20px;
}

/*--------------------------------------------------------------
# sec 3
--------------------------------------------------------------*/
.sec-3 .item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.sec-3 .item {
    margin: 0 10px;
    position: relative;
}

.sec-3 .item h4 {
    background-color: #3a4e55b8;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}

.sec-3 {
    margin-bottom: 70px;
}

/*--------------------------------------------------------------
# sec - 4
--------------------------------------------------------------*/
.sec-4 {
    background-color: var(--second-color);
    padding: 70px 0;
}

.sec-4 h2 {
    color: #fff;
}

.sec-4 p {
    color: #fff;
}

.le2 a {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    padding: 15px 20px;
    border-radius: 10px;
}

.le2 a:hover {
    background-color: #fff;
    color: #000;
}

.serv-icon i {
    border: 1px solid;
    padding: 8px 15px;
    border-radius: 10px;
}

.card h5 {
    font-size: 25px;
}

.card h6 {
    font-size: 20px;
}

.card-body p {
    color: #000;
}

.card {
    padding: 13px;
    border-radius: 25px !important;
}

.serv-icon span {
    font-size: 11px;
    margin-left: 7px;
}

.det {
    justify-content: space-between;
}

.det a {
    background-color: var(--accent-color);
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff !important;
    text-decoration: none;
    font-size: 14px;
}

.det a:hover {
    background-color: #000;
}

/*--------------------------------------------------------------
# sec - 5
--------------------------------------------------------------*/

.sec-5 .item img {
    width: 100%;
    height: 100px;
}

.sec-5 .item h4 {
    background-color: #3a4e55b8;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
}

.le-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

#team h2,
#team h3 {
    color: #fff;
}

.le-conte h2 {
    font-size: 25px;
    font-weight: 500;
}

.sec-6 {
    margin: 50px 0;
}

.le-conte a {
    background-color: #3a4e55;
    color: #fff !important;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
}

.le-conte a:hover {
    background-color: #000;
}

.page-id-101 .header-view .nav-item .nav-link {
    color: #000 !important;
}

/*--------------------------------------------------------------
# Sec - 7
--------------------------------------------------------------*/
.sec-7 {
    margin-top: 80px;
    background-color: #30717f;
    padding: 61px 0;
}

.content2 h2 {
    color: #fff;
}

.content2 p {
    color: #fff;
}

.logo-carol .item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto;
}

/* .logo-carol .owl-item.active:nth-child(2) {
    background-color: #fff;
} */

/*--------------------------------------------------------------
# Footer - Css
--------------------------------------------------------------*/

/* #footer { */
/*     background-color: #1c2d37; */
/*     padding: 40px; */
/* } */

/* #footer .container { */
/*     background-color: #c0cdd1; */
/* } */

.news__form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

input[type="email"] {
    outline: 0;
    padding: 20px 30px;
    border-radius: 3px;
    border: 1px solid #0000003d;
    background-color: transparent;
    width: 65%;
}

.news__btn {
    border: none;
    outline: none;
    background: transparent;
    background-color: var(--accent-color);
    padding: 15px 30px;
    color: white;
    border-radius: 15px;
}

/* #footer li a { */
/*     text-decoration: none; */
/*     color: #000; */
/*     display: flex; */
/*     align-items: center; */
/* } */

/* #footer ul li { */
/*     list-style: none; */
/*     margin: 15px 0; */
/* } */

/* #footer ul { */
/*     margin: 0; */
/*     padding: 0; */
/* } */

/* .icon-text1 li a i { */
/*     border: 1px solid; */
/*     padding: 8px 10px; */
/*     border-radius: 50px; */
/*     margin-right: 12px; */
/*     height: 39px; */
/* } */

#footer h3 {
    font-size: 23px;
    font-weight: 600;
}

.foter-social-logo a {
    border: 1px solid;
    color: #000;
    padding: 8px 12px;
    border-radius: 50px;
    margin: 0 4px;
}

/* .footer-privacy { */
/*     display: flex; */
/*     gap: 20px; */
/*     /* float: right; */
*/
/* } */

/* .copyright { */
/*     background-color: #a4b5ba; */
/* } */

.copyright {
    border-radius: 0 0 20px 20px;
}

.foter-social-logo a:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.news__btn:hover {
    background-color: #000;
}

.gallery-inner img {
    width: 60%;
}

/*--------------------------------------------------------------
# Form Css
--------------------------------------------------------------*/
.form-view-page {
    margin-top: -50px !important;
    background-color: #fff;
    box-shadow: 0 0 7px 1px #00000029;
}

.form-style-1 {
    margin: 10px auto;
    padding: 10px 0px 0px 0px;
    font:
        13px "Lucida Sans Unicode",
        "Lucida Grande",
        sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 12px;
    margin: 0px;
    border-radius: 7px;
}

.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #88d5e9;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
    background: #4b99ad;
    padding: 12px 40px 12px 40px;
    border: none;
    color: #fff;
    border-radius: 7px;
}

.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
    background: #4691a4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

/*--------------------------------------------------------------
# View Properties Styles
--------------------------------------------------------------*/

.header-view .navbar-brand img {
    width: 185px;
}

.page-id-113 .header-view .navbar-brand img {
    width: 180px !important;
}

.header-view .nav-item .nav-link {
    color: #000;
}

.header.header-view .btn10:hover {
    background-color: #000;
    color: #fff;
}

.header-view {
    box-shadow: 0px 11px 8px 0px #00000017;
}

.top-h1 {
    flex-direction: row !important;
    gap: 20px;
}

.top-header {
    background-color: var(--second-color);
}

.top-header .nav-item .nav-link {
    color: #fff !important;
}

.sec-01 {
    background-image: url(../img/view-properties.png);
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-color: #000;
}

.sec-01 .text-center {
    color: #fff;
    font-size: 40px;
}

.header-view .btn10 {
    background-color: var(--second-color);
    padding: 13px 30px;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
}

.header-view .btn10:hover {
    background-color: #fff;
}

.sec-02 {
    margin: 40px 0 0;
}

.detail {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #cccccc91;
    margin-top: 15px;
}

.detail h4 {
    text-align: center;
}

.cardse1 p {
    border-bottom: 1px solid #cccccc85;
}

.icon-with-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #cccccc8a;
    border-radius: 20px;
    padding: 12px;
}

.icon-with-text h4 {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;
}

.icon-with-text p {
    text-align: center;
    font-size: 14px;
}

.icon-with-text1 img {
    position: absolute;
    top: -22px;
}

.icon-with-text1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #cccccc8a;
    border-radius: 20px;
    padding: 55px 12px 12px 12px;
    position: relative;
}

.similer-vail h2 {
    text-align: center;
}

.card1 {
    border: 1px solid #ccc;
}

.card1 img {
    width: 100%;
}

.similer-vail .card-detail li {
    text-align: center;
    list-style: none;
}

.similer-vail .card-body h5 {
    text-align: center;
    background-color: #000;
    padding: 10px;
    color: #fff;
}

.similer-vail .card-detail {
    padding: 0;
}

.btn-detail1 {
    text-align: center;
    display: block;
    text-decoration: none;
    border-top: 1px solid #ccc;
    color: #000;
}

.map-locat1 img {
    width: 100%;
}

.plan-master img {
    width: 100%;
}

.icon-with-text20 img {
    width: 50px;
}

.icon-with-text20 h4 {
    font-size: 12px;
    margin-top: 5px;
}

.icon-with-text20 p {
    font-size: 11px;
    margin: 0 !important;
    text-align: center;
}

.icon-with-text20 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-with-text201 i {
    font-size: 25px;
    margin-right: 5px;
}

.icon-with-text201 p {
    font-size: 11px;
    font-weight: 600;
}

.tables-data img {
    width: 50px;
}

/*--------------------------------------------------------------
# Properties Details
--------------------------------------------------------------*/
.header-view1 .navbar-brand img {
    width: 45px;
}

.header-view1 .nav-item .nav-link {
    color: #000 !important;
}

.header-view1 .btn10:hover {
    background-color: #000;
    color: #fff;
}

.sec-001 {
    background-image: url(../images/about/complaint\ banner.jpg);
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-color: #000;
}

.sec-001 h1 {
    color: #fff;
    font-size: 40px;
}

.dt span {
    font-size: 10px;
    font-weight: 500;
    margin-left: 5px;
}

.dt {
    background-color: var(--second-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
    font-size: 17px;
    border-top: 1px solid #fff;
}

.dt1 {
    background-color: #30717f7a;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    color: #000;
    font-size: 25px;
    border-top: 1px solid #fff;
    width: 70%;
    border-radius: 10px;
}

.dt1 span {
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}

.property-box1 {
    padding: 10px;
    border-radius: 20px;
}

.property-box1 img {
    width: 100%;
}

.property-box1:hover {
    background-color: #30717f;
}

.property-box1:hover h4 {
    color: #fff;
}

.property-box1:hover p {
    color: #fff;
}

.property-box1:hover img {
    filter: opacity(0.5);
}

.properies-detail-colum img {
    width: 100%;
}

/*--------------------------------------------------------------
# Properties Details
--------------------------------------------------------------*/
.serv-item {
    background-image: url(../img/serv-02.png);
    background-size: cover;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.serv-item:hover {
    transform: translateY(-10px);
    transition: all ease 0.5s;
}

.serv-item h4 {
    color: #fff;
    font-size: 20px;
}

.sec-serv-003 a {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Seconadry Properties - CSS
--------------------------------------------------------------*/
.form-style-10 {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
}

.form-style-10 input {
    border: 1px solid #bebebe;
    padding: 12px;
    margin: 0px;
    border-radius: 7px;
    width: 73rem;
}

/*--------------------------------------------------------------
# Community List - CSS
--------------------------------------------------------------*/
.sec-community-003 {
    margin-top: 120px;
    margin-bottom: 60px;
}

.tab-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f3f3;
    border: 1px solid #9191915c;
    border-radius: 15px;
    padding: 85px 0 15px 0;
    position: relative;
}

.tab-item1 i {
    background-color: var(--second-color);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: -60px;
}

.sec-community-003 a {
    text-decoration: none;
}

.tab-item1 h4 {
    color: #000;
}

.tab-item1:hover h4 {
    color: #fff;
}

.tab-item1:hover {
    background-color: #30717f;
    transform: translateY(-10px);
    transition: all ease 0.5s;
}

.tab-item1:hover i {
    background-color: #f6f3f3;
    color: #000;
    border: 1px solid #ccc;
}

.active_bar h4 {
    color: #fff;
}

.active_bar {
    background-color: #30717f;
    transform: translateY(-10px);
    transition: all ease 0.5s;
}

.active_bar i {
    background-color: #f6f3f3;
    color: #000;
    border: 1px solid #ccc;
}

.form-style-101 input {
    border: 1px solid #bebebe;
    padding: 12px;
    margin: 0px;
    border-radius: 7px;
    width: 45rem;
}

.form-style-101 {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
}

.detail.link-col1 a {
    color: #000;
    font-size: 17px;
}

.link-col1 p {
    line-height: 45px;
}

.top-links li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.top-links {
    padding: 0;
}

.property-item {
    box-shadow: 0 0 4px 1px #0000005e;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
}

.property-desc h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.property-item:hover {
    background-color: #30717f;
}

.property-item:hover {
    color: #fff;
}

.property-item:hover p {
    color: #fff;
}

.dt10 i span {
    font-size: 11px;
}

.dt10 i {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.btn-04 button {
    background-color: #000;
    color: #fff !important;
    padding: 8px 30px;
    border-radius: 10px;
    margin-top: 5px;
}

#solution_finder select {
    width: 100%;
}

.btn-search {
    background: #4b99ad;
    padding: 12px 40px 12px 40px;
    border: none;
    color: #fff;
    border-radius: 7px;
}

.icon-text2:hover {
    background-color: var(--second-color);
}

.icon-text2 i {
    font-size: 35px;
    margin-right: 15px;
}

.icon-text2 h3 {
    font-size: 20px;
    align-items: center;
    display: flex;
}

.icon-text2:hover h3 {
    color: #fff;
}

.icon-text2:hover p {
    color: #fff;
}

.back-img6 {
    background-image: url(../img/news-img1.png);
}

.back-img1 {
    background-image: url(../img/news-01.png);
}

.back-img2 {
    background-image: url(../img/news-02.png);
}

.back-img3 {
    background-image: url(../img/news-03.png);
}

.back-img4 {
    background-image: url(../img/news-04.png);
}

.back-img5 {
    background-image: url(../img/news-05.png);
}

.news-img-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    border-radius: 18px;
    height: 220px;
    max-width: 390px;
    color: #fff;
}

.btn-ico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

.btn-ico a {
    color: #fff !important;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    max-width: 600px;
}

.gallery img {
    border-radius: 10px;
    max-width: 250px;
    width: 250px;
    height: 160px;
}

#lightbox {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.close,
.prev,
.next {
    position: absolute;
    cursor: pointer;
}

.close {
    right: 10px;
    top: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Accordion Body Styling */
.accordion-body {
    padding: 20px;
}

.price-input {
    display: flex;
    width: 100%;
    margin: 20px 0 25px;
}

.field {
    width: 100%;
    height: 35px;
}

.field span {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-min,
.input-max {
    width: 100px;
    padding: 5px;
    text-align: center;
}

.separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.progress {
    /* height: 100%;
    left: 0%;
    right: 0%; */
    position: absolute;
    border-radius: 5px;
    background: #000;
}

.range-input {
    position: relative;
}

.range-min,
.range-max {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

.range-min::-webkit-slider-thumb,
.range-max::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
    position: relative;
}

.range-max {
    z-index: 1;
}

/*----additional css*/
.banner {
    /* set up the image + gradient together */
    background-image:
        /* top layer: 50%-black overlay */
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        /* bottom layer: your JPG */ url("../images/about/about us banner.jpg");

    /* now separately declare how each layer behaves */
    background-repeat: no-repeat, no-repeat;
    background-position:
        center center,
        center center;
    background-size: cover, cover;

    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
}

p {
    font-family: var(--default-font);
}

.bannerh2 {
    font-size: 80px;
    font-weight: 500;
    color: #fff;
}

.about-main {
    background: #d9e0e3;
}

.about1a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.about1b {
    font-size: 50px;
    /* color: #fff; */
    font-weight: 400;
    margin: 0;
}

.about1c {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    /* color: #fff; */
}

.about1,
.about2 {
    padding: 50px 0;
}

.about3a {
    font-size: 50px;
    font-weight: 400;
    /* color: #fff; */
    margin: 0;
}

.about3b {
    font-size: 16px;
    font-weight: 400;
    /* color: #fff; */
}

.about-3 {
    text-align: center;
    padding: 50px 0;
}

.about-3 form input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 16px;
    font-weight: 400;
    /* color: #fff; */
    font-family: var(--default-font);
    padding-bottom: 10px;
}

.about-3 form button {
    background: transparent;
    border: 0;
    color: #000;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 5px;
}

.about-3 form {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.about-3 form input::placeholder {
    /* color: #ffffff99 !important; */
}

.about-3 form input:focus {
    outline: 0 !important;
}

.about1-img {
    width: 100%;
}

.about2-img {
    width: 100%;
}

.blog1-a {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.blog1-b {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 50%;
}

.publish-date {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.blog-title {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.blog-read {
    font-size: 14px;
    color: #fff !important;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
}

.blogs-inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.blog2 {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 50px;
    justify-content: center;
    padding: 50px 0;
}

.blog1 {
    padding-top: 50px;
}

.blog-banner {
    background: url(../images/blog/blog-inner.png) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: left;
    /* margin-top: -105px; */
}

.first-col {
    text-align: center;
}

.footer-logo {
    width: 150px;
}

.blog-image {
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-radius: 35px;
}

.blog-a1 {
    font-size: 14px;
    font-weight: 500;
    /* color: #fff; */
    color: #000;
    margin-top: 10px;
}

.blog-text p img {
    width: 100% !important;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.blog-a2 {
    font-size: 36px;
    /* color: #fff; */
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
}

.blog-a3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.blogside-img {
    width: 100%;
}

.sidebar-a1 {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-btn {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 6px 16px;
    border-radius: 30px;
}

.blog-sidebar {
    padding: 20px 0;
}

.blog-text {
    padding: 50px 30px 50px 0px;
}

.border-left {
    border-left: 1px solid #fff;
    padding: 30px 0 0 35px;
    position: sticky;
    top: 0px;
}

.sidebar-btn:hover,
.blog-read:hover {
    background: #fff;
    color: #000 !important;
    transition: 0.3s;
}

.blog-text p {
    /* color: #fff; */
}

.blog-text span {
    color: #000 !important;
}

.about-main span {
    font-family: "Quicksand" !important;
}

/*Service*/
.service-imgbox h3 {
    font-size: 24px;
    font-weight: 600;
    /* color: #fff; */
}

.service-imgbox p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.service-imgbox {
    text-align: center;
    padding: 0 10px;
}

.service1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    padding: 50px;
    gap: 10px;
    justify-content: center;
}

.service-imgbox img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 10px;
}

.service-imgbox a {
    text-decoration: none;
}

.serviceh2 {
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.banner-p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 55%;
    margin: 0 auto;
}

.service {
    /* background: url(../images/about/services\ banner.jpg) no-repeat; */
    background-image:
        /* top layer: 50%-black overlay */
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        /* bottom layer: your JPG */ url("../images/about/services\ banner.jpg");
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: left;
}

.privacy-main {
    padding: 50px;
}

.priv1 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.priv2 {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.contact1a {
    font-size: 46px;
    font-weight: 400;
    /* color: #fff; */
}

.contact1b {
    font-size: 16px;
    font-weight: 400;
    /* color: #fff; */
}

.call > a {
    /* color: #fff !important; */
    font-size: 16px;
    text-decoration: none;
    font-family: var(--default-font);
}

.call i {
    background: #00737f;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.call {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contact1c {
    font-size: 15px;
    font-weight: 400;
    /* color: #fff; */
    margin: 0;
    width: 80%;
}

.contact-form input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 0;
    padding-left: 10px;
    font-size: 16px;
    color: #000;
    font-family: var(--default-font);
    background: #fff;
}

.contact-form textarea {
    width: 100%;
    border-radius: 30px;
    border: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: #000;
    font-family: var(--default-font);
}

.contact-form button {
    font-family: var(--default-font);
    font-size: 16px;
    border-radius: 30px;
    width: 125px;
    height: 50px;
    border: 0;
    background: #00737f;
    color: #fff;
}

.contact-main {
    padding: 80px 0;
}

.contact-banner {
    /* background: url(../images/about/contact\ banner.jpg) no-repeat; */
    background-image:
        /* top layer: 50%-black overlay */
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        /* bottom layer: your JPG */ url("../images/about/contact\ banner.jpg");
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: left;
}

/*Property Details*/
.prop-1a {
    font-size: 18px;
    font-weight: 600;
    /* color: #fff; */
    margin: 25px 0 5px;
}

.prop-1b {
    font-size: 16px;
    font-weight: 400;
    /* color: #fff; */
}

.property-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
}

.main-image img {
    width: 100%;
    height: 330px;
    border-radius: 20px;
    object-fit: cover;
}

.second-image img {
    width: 100%;
    height: 330px;
    border-radius: 20px;
    object-fit: cover;
}

.second-image {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 47% 47%;
    gap: 30px;
    margin-top: 20px;
}

.image-gallery img {
    width: 100%;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18%);
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/*Property Details*/
/*Projects Css*/
.filter-form select {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background: transparent;
    /* border: 1px solid #fff; */
    margin-bottom: 10px;
    /* color: #fff; */
    padding-left: 10px;
    font-size: 14px;
}

.filter-form select option {
    color: #000 !important;
}

.filter-btn {
    font-size: 16px;
    background: #00737f;
    color: #fff;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #00737f;
}

.priv3 {
    color: #fff;
}

.filter-btn:hover {
    background: #000;
    color: #fff;
    border-color: #000;
    transition: 0.3s;
}

.property-image {
    width: 100%;
    border-radius: 26px;
    margin-bottom: 10px;
}

.property-price {
    font-size: 32px;
    font-weight: 600;
    /* color: #fff; */
}

.property-det {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.icons {
    /* color: #fff; */
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.details {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icons img {
    width: 30px;
    object-fit: cover;
}

.viewdetails-btn {
    font-size: 16px;
    background: #00737f;
    color: #fff;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #00737f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
}

.search-form select {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background: transparent;

    margin-bottom: 10px;

    padding-left: 10px;
    font-size: 14px;
}

.search-form input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background: transparent;

    margin-bottom: 10px;

    padding-left: 15px;
    font-size: 14px;
}

.search-form {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 15px;
}

.search-form input::placeholder {
    /* color: #fff; */
}

.search-form input:focus {
    outline: 0;
}

.search-form select option {
    color: #000 !important;
}

.viewdetails-btn:hover {
    background: #000;
    color: #fff;
    border-color: #000;
    transition: 0.3s;
}

.project-main .col-md-6 {
    padding: 0 50px;
}

.project-main .col-md-6:first-of-type {
    border-right: 1px solid #000;
}

select,
input,
button {
    font-family: var(--default-font) !important;
}

.blog-text ul {
    color: #fff !important;
}

/*Projects Css*/

.mob-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.about1 ul,
.about2 ul {
    padding-left: 20px;
}

.arb {
    left: auto;
    right: 4rem;
}

.header .ms-2 a,
.header .ms-2 {
    color: #fff !important;
}

.header-view1 .ms-2 a,
.header-view1 .ms-2 {
    color: #000 !important;
}

/*--------------------------------------------------------------
# Responsive Styles
--------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .about3a {
        font-size: 30px;
    }

    .priv1 {
        font-size: 18px;
    }

    .priv2 {
        font-size: 14px;
    }

    .privacy-main {
        padding: 50px 0;
    }

    .team h2 {
        font-size: 18px;
    }

    .team {
        padding-bottom: 50px;
    }

    .team h3 {
        font-size: 22px;
    }

    .header-view1 .nav-item .nav-link {
        color: #fff !important;
    }

    .about3b {
        font-size: 14px;
    }

    .about-3 form input {
        font-size: 14px;
    }

    .about-3 form {
        width: 100%;
    }

    .about1 ul li,
    .about2 ul li {
        font-size: 14px;
        margin-top: 5px;
    }

    #footer h3 {
        font-size: 20px;
    }

    .floating-button {
        width: 40px !important;
        height: 40px !important;
    }

    .icon-text1 p {
        font-size: 14px;
    }

    .about2 .row div:first-of-type {
        order: 2;
    }

    .about1b {
        font-size: 30px;
        margin-top: 20px !important;
    }

    .mob-input input {
        margin-top: 15px;
    }

    .contact-banner {
        height: 300px;
    }

    .about1,
    .about2 {
        padding: 60px 0 20px;
    }

    .contact-form {
        margin-top: 20px;
    }

    .contact1c {
        font-size: 14px;
        width: 100%;
    }

    .blog-a2 {
        font-size: 22px;
        line-height: 28px;
    }

    .blog-image {
        height: 250px;
    }

    .blog-text {
        padding: 50px 0px 50px 0px;
    }

    .blog-inner .p-5 {
        padding: 0 20px !important;
    }

    .blog-read {
        font-size: 12px;
        padding: 8px 15px;
    }

    .blog-title {
        font-size: 14px;
    }

    .blog2 {
        grid-template-columns: 100%;
    }

    .publish-date {
        font-size: 12px;
    }

    .blog-img {
        width: 175px;
        height: 175px;
    }

    .service-imgbox h3 {
        font-size: 20px;
    }

    .service-imgbox img {
        height: 200px;
    }

    .service-imgbox p {
        font-size: 14px;
    }

    .service1 {
        grid-template-columns: repeat(auto-fill, 100%);
        padding: 50px 0;
        gap: 30px;
    }

    .serviceh2 {
        font-size: 36px;
    }

    .filter-btn {
        font-size: 14px;
        width: 120px;
    }

    .search-form {
        margin-top: 50px;
    }

    .project-main .col-md-6 {
        padding: 0 20px;
    }

    .about1c {
        font-size: 14px;
        line-height: 23px;
    }

    .contact1a {
        font-size: 30px;
    }

    .banner-p {
        font-size: 16px;
        width: 100%;
    }

    .banner,
    .service {
        height: 300px;
    }

    .bannerh2 {
        font-size: 46px;
    }

    .floating-button i {
        font-size: 16px !important;
    }

    .foter-social-logo a {
        padding: 4px 8px;
    }

    #footer li a {
        font-size: 14px;
    }

    .footer-logo {
        width: 100px;
    }

    .content2 p {
        font-size: 14px;
    }

    .content2 h2 {
        font-size: 22px;
    }

    .le-conte a {
        font-size: 14px;
    }

    .le-conte h2 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .le-conte p {
        font-size: 14px;
        margin-top: 0;
    }

    .card-text {
        font-size: 14px;
    }

    .le5 a {
        padding: 12px 15px;
        font-size: 14px;
    }

    .le-title {
        font-size: 20px;
    }

    .sec-5 {
        padding: 70px 0 30px;
    }

    .sec-3 {
        margin-bottom: 15px;
    }

    .form10 p {
        font-size: 14px;
    }

    .form10 h3 {
        font-size: 18px;
    }

    .hero {
        height: 85vh;
    }

    .img-text img {
        width: 150px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero {
        padding: 0 10px;
    }

    .hero h1 {
        font-size: 36px;
        line-height: 38px;
    }

    html {
        overflow-x: hidden !important;
    }

    #navbarOffcanvas {
        background: #4e6067 !important;
        width: 75%;
    }

    .mob-1 {
        display: none !important;
    }

    .form10 {
        display: inline-block;
    }

    .f1 {
        width: 100%;
    }

    .f2 {
        width: 80%;
    }

    .tab-pane select {
        padding: 14px 20px;
        border-radius: 30px;
        margin-bottom: 15px;
    }

    .sec-2 {
        margin-top: -1rem;
    }

    .sec-2 .container {
        padding: 25px;
        width: 90%;
    }

    .card {
        margin-bottom: 25px;
    }

    #footer {
        padding: 25px;
    }

    .news__form {
        flex-direction: column;
    }

    input[type="email"] {
        width: 100%;
    }

    #footer .row {
        margin-left: -10px !important;
    }

    .copyright p {
        text-align: center;
        font-size: 14px;
    }

    .le6 {
        margin-top: 30px;
    }

    .navbar-toggler {
        float: right;
    }

    .dt1 {
        width: 100%;
    }

    .form-view-page {
        margin-top: 15px !important;
    }

    .icon-with-text {
        margin-top: 20px;
    }

    .icon-with-text1 {
        margin-top: 30px;
    }

    .textwithbtn h2 {
        text-align: center;
    }

    .textwithbtn .btn10 {
        margin: auto;
    }

    .btn10 {
        margin: auto;
    }

    .sec-01 .text-center {
        color: #fff;
        font-size: 30px;
    }

    .sec-01 {
        height: 300px;
    }

    .sec-001 {
        height: 300px;
    }

    .sec-001 h1 {
        color: #fff;
        font-size: 30px;
    }

    .about-img img {
        width: 100%;
    }

    .serv-item {
        margin-top: 20px;
    }

    .form-style-10 input {
        width: 100%;
    }

    .form-style-101 input {
        width: 100%;
    }

    .tab-item1 {
        margin-top: 100px;
    }

    .sec-community-003 {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .tab-item1 i {
        width: 85px;
        height: 85px;
        font-size: 33px;
        top: -50px;
    }

    .tab-item1 {
        padding: 50px 0 15px 0;
    }

    .property-item {
        flex-direction: column;
    }

    .page-id-101 .header-view .navbar-brand img {
        width: 60px;
    }

    .gallery {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        justify-items: center;
    }

    .gallery img {
        max-width: 100%;
        width: 100%;
        height: 210px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .header-view1 .nav-item .nav-link {
        color: #fff !important;
    }

    .blog-a2 {
        font-size: 30px;
    }

    .navbar-toggler {
        float: right;
    }

    .blog-img {
        width: 150px;
        height: 150px;
    }

    .publish-date {
        font-size: 14px;
    }

    .blog-title {
        font-size: 14px;
        line-height: 20px;
    }

    .service-imgbox p {
        font-size: 14px;
    }

    .service-imgbox h3 {
        font-size: 20px;
    }

    .service-imgbox img {
        height: 260px;
    }

    .about3a {
        font-size: 36px;
    }

    .service1 {
        grid-template-columns: repeat(auto-fill, 47%);
    }

    .banner-p {
        width: 85%;
    }

    .serviceh2 {
        font-size: 50px;
    }

    .contact1a {
        font-size: 32px;
    }

    .bannerh2 {
        font-size: 56px;
    }

    .about1b {
        font-size: 38px;
    }

    .about1c {
        font-size: 14px;
    }

    .mob-1 {
        display: none;
    }

    .nav-link {
        font-size: 14px !important;
    }

    .hero h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .hero p {
        font-size: 14px;
    }

    .img-text img {
        width: 150px;
    }

    .social-link {
        left: 3rem;
    }

    .form10 h3 {
        font-size: 16px;
    }

    .form10 p {
        font-size: 12px;
    }

    .tab-pane select {
        font-size: 14px;
    }

    #state-form {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .le-title {
        font-size: 22px;
    }

    .le5 a {
        font-size: 14px;
    }

    .le-conte h2 {
        font-size: 20px;
    }

    .le-conte p {
        font-size: 14px;
    }

    .le-conte a {
        font-size: 14px;
    }

    .sec-6 {
        margin: 0 0 50px;
    }

    .content2 h2 {
        font-size: 22px;
    }

    .le6 {
        margin-top: 20px;
    }

    #footer h3 {
        font-size: 15px;
    }

    #footer li a {
        font-size: 13px;
    }

    .copyright p {
        font-size: 12px;
    }

    .news__form input {
        font-size: 14px;
        width: 80%;
        padding: 10px;
    }

    .ms-2 h2 {
        font-size: 20px;
    }

    .news__btn {
        font-size: 12px;
    }

    .footer-logo {
        width: 115px;
    }

    .foter-social-logo {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 10px 0;
    }
}
